@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import-normalize;

//Variáveis;
$background-primario: linear-gradient(180deg, #62B8F6 52.6%, #2C3BC1 100%);
$fonte-primario: #ffffff;
$cor-azul-escuro: #2C3BC1;
$cor-azul-claro: #62B8F6;