@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import-normalize;
.header {
  padding: 0 1rem;
  max-width: 1200px;
  margin: 2.5rem auto 0;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
}
.header .navbar h5 {
  font-size: 1rem;
}
.header .navbar p {
  font-size: 14px;
}
.header .city {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 1.5rem auto 0;
}
.header .city h4 {
  font-size: 1rem;
}
.header .city i {
  margin-left: 1rem;
  cursor: pointer;
}
.header .city i:hover {
  color: #2C3BC1;
}

@media (min-width: 768px) {
  .header {
    padding: 0 2rem;
    margin: 4rem auto 0;
  }
  .header .navbar p,
.header .navbar h5 {
    font-size: 18px;
  }
  .header .city h4 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .header .city {
    margin-top: -22px;
  }
}
